@using Microsoft.AspNetCore.Identity
@inject SignInManager<AspNet_FilRouge.Models.ApplicationUser> SignInManager
@inject UserManager<AspNet_FilRouge.Models.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="d-flex ms-lg-auto">
        @Html.AntiForgeryToken()
        <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0">
            <li class="nav-item">
                @Html.ActionLink("Hello " + UserManager.GetUserName(User) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
