@{
    ViewBag.Title = "Réinitialisation du mot de passe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    @if (TempData["ResetPasswordLink"] != null)
    {
        <div class="alert alert-info">
            <p>Un lien de réinitialisation a été généré. Utilisez le lien ci-dessous pour réinitialiser votre mot de passe :</p>
            <p><a href="@TempData["ResetPasswordLink"]">Réinitialiser mon mot de passe</a></p>
        </div>
    }
    else
    {
        <p>
            Veuillez vérifier votre e-mail pour réinitialiser votre mot de passe.
        </p>
    }
</div>

