
@{
    ViewBag.Title = "Crud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-md-3 col-lg-3">
                <img src="../Pictures/customer1.png" />
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <h4>Main menu</h4>
                <a href="/Sellers/Crud">Sellers</a> |
                <a href="/Orders/Crud">Orders</a> |
                <a href="/Bicycles/Crud">Bicycles</a>
                <h3>Customers menu</h3>
                <br />
                <p><a href="Create" class="btn btn-primary btn-lg btn-block">Create &raquo;</a></p>
                <br />
                <p><a href="Index" class="btn btn-primary btn-lg btn-block">List &raquo;</a></p>
                <br />
                <p><a href="Details" class="btn btn-primary btn-lg btn-block">Details &raquo;</a></p>
                <br />
                <p><a href="Edit" class="btn btn-primary btn-lg btn-block">Edit &raquo;</a></p>
                <br />
                <p><a href="Delete" class="btn btn-primary btn-lg btn-block">Delete &raquo;</a></p>
            </div>
            <div class="col-xs-0 col-md-3 col-lg-3">
                <img src="../Pictures/customer2.png" />
            </div>
        </div>
    </div>
</div>


