@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-3 col-lg-2">
                @if (User.Identity!.IsAuthenticated)
                {
                    <h3>Espace Client</h3>
                    <br />
                    <p><a href="/Bicycles/Index" class="btn btn-primary btn-lg btn-block">Catalogue &raquo;</a></p>
                    <br />
                    <p><a href="/Orders/Index" class="btn btn-primary btn-lg btn-block">Mes commandes &raquo;</a></p>
                    <br />
                    <p><a href="/Customers/Index" class="btn btn-info btn-lg btn-block">Mon compte &raquo;</a></p>
                }
                else
                {
                    <div style="text-align:center">
                        <br />
                        <h2>B</h2>
                        <h2>I</h2>
                        <h2>E</h2>
                        <h2>N</h2>
                        <h2>V</h2>
                        <h2>E</h2>
                        <h2>N</h2>
                        <h2>U</h2>
                        <h2>E</h2>
                    </div>
                }
            </div>
            <div class="col-2 col-md-9 col-lg-10">
                <div class="ratio ratio-16x9">
                    <video class="w-100 h-100" controls>
                        <source src="../Pictures/bike.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>