@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-3 col-lg-2">
                <h3>Main menu</h3>
                <br />
                <p><a href="/Sellers/Index" class="btn btn-primary btn-lg btn-block">Sellers &raquo;</a></p>
                <br />
                <p><a href="/Customers/Index" class="btn btn-primary btn-lg btn-block">Customers &raquo;</a></p>
                <br />
                <p><a href="/Orders/Index" class="btn btn-primary btn-lg btn-block">Orders &raquo;</a></p>
                <br />
                <p><a href="/Bicycles/Index" class="btn btn-primary btn-lg btn-block">Bicycles &raquo;</a></p>
            </div>
            <div class="col-xs-2 col-md-9 col-lg-10">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls> 
                        <source src="../Pictures/bike.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>