@{
    ViewBag.Title = "Compte verrouillé";
}

<hgroup>
    <h1 class="text-danger">Compte verrouillé.</h1>
    <h2 class="text-danger">Ce compte a été temporairement verrouillé. Veuillez réessayer plus tard.</h2>
</hgroup>
